<!--Yuliia Tarasenko-->
<section class="about">
  <div class="container about-container">
    <div class="container-about">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/homepage-image/about-hotel/abouthoteldt.jpg    1x,
            ./img/homepage-image/about-hotel/abouthoteldt@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/homepage-image/about-hotel/abouthoteltb.jpg    1x,
            ./img/homepage-image/about-hotel/abouthoteltb@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 414px)"
          srcset="
            ./img/homepage-image/about-hotel/abouthotelph.jpg    1x,
            ./img/homepage-image/about-hotel/abouthotelph@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 413px)"
          srcset="
            ./img/homepage-image/about-hotel/abouthotelph.jpg    1x,
            ./img/homepage-image/about-hotel/abouthotelph@2x.jpg 2x
          "
        />
        <img
          class="about-hotel-img about-img"
          src="./img/homepage-image/about-hotel/abouthoteldt.jpg"
          alt="hotel room"
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width:320px) 244px"
          height="574"
        />
      </picture>
      <div class="about-hotel">
        <h2 class="visually-hidden">About our hotel</h2>
        <p class="about-ere-title">Amet minim mollit non</p>
        <h3 class="about-title">Mimiho</h3>
        <p class="about-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="about-hotel-wrap">
      <p class="about-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/homepage-image/about-hotel/abouthalldt.jpg    1x,
            ./img/homepage-image/about-hotel/abouthalldt@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/homepage-image/about-hotel/abouthalltb.jpg    1x,
            ./img/homepage-image/about-hotel/abouthalltb@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./img/homepage-image/about-hotel/abouthallph.jpg    1x,
            ./img/homepage-image/about-hotel/abouthallph@2x.jpg 2x
          "
        />
        <img
          class="about-hall-img about-img"
          src="./img/homepage-image/about-hotel/abouthalldt.jpg"
          alt="hotel hall"
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 350px, (min-width:320px) 200px"
          height="574"
        />
      </picture>
    </div>
    <div class="about-list-wrap">
      <div class="about-list list">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/homepage-image/about-hotel/scrolldt1.jpg    1x,
              ./img/homepage-image/about-hotel/scrolldt1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./img/homepage-image/about-hotel/scrolltb1.jpg    1x,
              ./img/homepage-image/about-hotel/scrolltb1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/homepage-image/about-hotel/scroll6.jpg    1x,
              ./img/homepage-image/about-hotel/scroll6@2x.jpg 2x
            "
          />
          <img
            class="about-scroll-img"
            src="./img/homepage-image/about-hotel/scrolldt1.jpg"
            alt="hotel reception"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width:320px) 254px"
            height="254"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/homepage-image/about-hotel/scrolldt2.jpg    1x,
              ./img/homepage-image/about-hotel/scrolldt2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./img/homepage-image/about-hotel/scrolltb2.jpg    1x,
              ./img/homepage-image/about-hotel/scrolltb2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/homepage-image/about-hotel/scrollph2.jpg    1x,
              ./img/homepage-image/about-hotel/scrollph2@2x.jpg 2x
            "
          />
          <img
            class="about-scroll-img"
            src="./img/homepage-image/about-hotel/scrolldt2.jpg"
            alt="living room"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width:320px) 254px"
            height="254"
          />
        </picture>
        <!-- 
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/homepage-image/about-hotel/scrolldt3.jpg    1x,
              ./img/homepage-image/about-hotel/scrolldt3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./img/homepage-image/about-hotel/scrolltb3.jpg    1x,
              ./img/homepage-image/about-hotel/scrolltb3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/homepage-image/about-hotel/scrollph3.jpg    1x,
              ./img/homepage-image/about-hotel/scrollph3@2x.jpg 2x
            "
          />
          <img
            class="about-scroll-img"
            src="./img/homepage-image/about-hotel/scrolldt3.jpg"
            alt="breakfast of oatmeal and yogurt"
            width="254"
            height="254"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/homepage-image/about-hotel/scrolldt4.jpg    1x,
              ./img/homepage-image/about-hotel/scrolldt4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./img/homepage-image/about-hotel/scrolltb4.jpg    1x,
              ./img/homepage-image/about-hotel/scrolltb4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/homepage-image/about-hotel/scrollph4.jpg    1x,
              ./img/homepage-image/about-hotel/scrollph4@2x.jpg 2x
            "
          />
          <img
            class="about-scroll-img"
            src="./img/homepage-image/about-hotel/scrolldt4.jpg"
            alt="romantic dinner"
            width="254"
            height="254"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/homepage-image/about-hotel/scrolldt5.jpg    1x,
              ./img/homepage-image/about-hotel/scrolldt5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./img/homepage-image/about-hotel/scrolltb5.jpg    1x,
              ./img/homepage-image/about-hotel/scrolltb5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./img/homepage-image/about-hotel/scrollph5.jpg    1x,
              ./img/homepage-image/about-hotel/scrollph5@2x.jpg 2x
            "
          />
          <img
            class="about-scroll-img"
            src="./img/homepage-image/about-hotel/scrolldt5.jpg"
            alt="teapot with tea"
            width="254"
            height="254"
          />
        </picture> -->
      </div>
    </div>
    <ul class="about-hotel-icon list">
      <li class="about-hotel-icon-item">
        <button class="about-hotel-icon-button">
          <svg class="about-hotel-slider-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-left"></use>
          </svg>
        </button>
      </li>
      <li class="about-hotel-icon-item">
        <button class="about-hotel-icon-button">
          <svg class="about-hotel-slider-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
