<!--Viktor-->
<section class="container contacts">
  <div class="contacts-position-tab">
    <a href="./index.html"><h2 class="contacts-title">MIMIHO</h2></a>

    <h3 class="contacts-title2">Ресторанно-готельний комплекс</h3>
    <ul>
      <li class="contacts-restaurant">
        <h3>Ресторан</h3>
        <div class="contacts-rest-tel">
          <svg class="contacts-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-phone"></use>
          </svg>
          <a href="tel:+38(095)555-95-33">095 555 95 33</a>
        </div>
      </li>
      <li class="contacts-hotel">
        <h3>Готель</h3>
        <div class="contacts-hot-tel">
          <svg class="contacts-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-phone"></use>
          </svg>
          <div class="contacts-mobil-320">
            <a class="contacts-tel" href="tel:+38(066)849-10-89"
              >066 849 10 89</a
            >
            <a class="contacts-tel2" href="tel:+38(067)275-85-40"
              >067 275 85 40</a
            >
          </div>
        </div>
      </li>
      <li class="contacts-adres">
        <svg class="contacts-icon-map" width="24" height="24">
          <use href="./img/sprite.svg#icon-location"></use>
        </svg>
        <div>
          <a
            class="contacts-adres-hotel"
            href="https://goo.gl/maps/WWJH7iNezqFAf5QS8"
          >
            Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
          >
        </div>
      </li>
    </ul>
  </div>

  <iframe
    class="google-maps"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923398124873!2d34.52435225102838!3d49.599193979265706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0ZfQvdCwLCAzNjAwMA!5e0!3m2!1suk!2suk!4v1676586808358!5m2!1suk!2suk"
    width="384"
    height="220"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
