<!--Olga-->
<section class="dr-section dr-bg-overlay">
  <div class="container dr-container">
    <div class="dr-texts">
      <h2 class="dr-title">MIMIHO</h2>
      <h3 class="dr-after-title">Ресторан</h3>
      <p class="dr-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="dr-slider-wrap">
      <div class="dr-picture dr-picture01">
        <picture>
          <source
            srcset="
              ./img/homepage-image/details-restaurant-image/o-01-desk.jpg    1x,
              ./img/homepage-image/details-restaurant-image/o-01-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/homepage-image/details-restaurant-image/o-01-tab.jpg    1x,
              ./img/homepage-image/details-restaurant-image/o-01-tab-2x.jpg 2x
            "
            media="(min-width:1024px)"
          />
          <source
            srcset="
              ./img/homepage-image/details-restaurant-image/o-01-mob.jpg    1x,
              ./img/homepage-image/details-restaurant-image/o-01-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./img/homepage-image/details-restaurant-image/o-01-mob.jpg"
            alt="stake"
            width="274"
            height="270"
          />
        </picture>
      </div>
      <div class="dr-picture02 dr-picture">
        <picture>
          <source
            srcset="
              ./img/homepage-image/details-restaurant-image/o-02-desk.jpg    1x,
              ./img/homepage-image/details-restaurant-image/o-02-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/homepage-image/details-restaurant-image/o-02-tab.jpg    1x,
              ./img/homepage-image/details-restaurant-image/o-02-tab-2x.jpg 2x
            "
            media="(min-width:1024px)"
          />
          <source
            srcset="
              ./img/homepage-image/details-restaurant-image/o-02-mob(01).jpg    1x,
              ./img/homepage-image/details-restaurant-image/o-02-mob(01)-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./img/homepage-image/details-restaurant-image/o-02-tab.jpg"
            alt="plates"
            width="162"
            height="270"
          />
        </picture>
      </div>
      <div class="dr-picture03 dr-picture">
        <picture>
          <source
            srcset="
              ./img/homepage-image/details-restaurant-image/o-03-desk.jpg    1x,
              ./img/homepage-image/details-restaurant-image/o-03-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/homepage-image/details-restaurant-image/o-03-tab.jpg    1x,
              ./img/homepage-image/details-restaurant-image/o-03-tab-2x.jpg 2x
            "
            media="(min-width:1024px)"
          />
          <source
            srcset="
              ./img/homepage-image/details-restaurant-image/o-03-tab.jpg    1x,
              ./img/homepage-image/details-restaurant-image/o-03-tab-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./img/homepage-image/details-restaurant-image/o-03-desk.jpg"
            alt="pan"
            width="270"
            height="270"
          />
        </picture>
      </div>
    </div>

    <ul class="dr-slider-arrows-wrap">
      <li>
        <button class="dr-slider-button">
          <svg class="dr-slider-arrow" width="32" height="32">
            <use href="./img/sprite.svg#icon-left"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="dr-slider-button">
          <svg class="dr-slider-arrow" width="32" height="32">
            <use href="./img/sprite.svg#icon-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="dr-buttons">
      <button type="button" class="dr-button">Забронювати столик</button>
      <button type="button" class="dr-button">Переглянути меню</button>
    </div>
  </div>
</section>
