<!--Elena-->
<section class="h-hp-details-hotel">
  <div class="container">
    <div class="h-hp-hotel">
      <div class="h-hp-hotel-block1">
        <div class="h-hp-hotel-text">
          <h2 class="h-hp-hotel-name">MIMIHO</h2>
          <h3 class="h-hp-hotel-title">Готель</h3>
          <p class="h-hp-hotel-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officiaconsequat duis enim velit mollit.
          </p>
        </div>
        <!-- Swiper -->
        <div class="mySwiper h-hp-swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img
                srcset="
                  ./img/homepage-image/room_swiper/room1_274.jpg    1x,
                  ./img/homepage-image/room_swiper/room1_274_2x.jpg 2x
                "
                src="./img/homepage-image/room_swiper/room1_274.jpg"
                alt="bedroom"
              />
            </div>
            <div class="swiper-slide">
              <img
                class="h-hp-slider-img"
                srcset="
                  ./img/homepage-image/room_swiper/room2_162.jpg    1x,
                  ./img/homepage-image/room_swiper/room2_162_2x.jpg 2x
                "
                src="./img/homepage-image/room_swiper/room2_162.jpg"
                width="162"
                height="270"
                alt="restoran food"
              />
            </div>
            <div class="swiper-slide">
              <img
                srcset="
                  ./img/homepage-image/room_swiper/room3_270.jpg    1x,
                  ./img/homepage-image/room_swiper/room3_270_2x.jpg 2x
                "
                src="./img/homepage-image/room_swiper/room3_270.jpg"
                alt="reseption"
              />
            </div>
          </div>
          <div class="swiper h-hp-swiper-btn">
            <div>
              <svg class="swiper-button-prev" width="32" height="32">
                <use
                  class="h-swiper-arrow"
                  href="./img/sprite.svg#icon-left"
                ></use>
              </svg>
            </div>
            <div>
              <svg class="swiper-button-next">
                <use
                  class="h-swiper-arrow"
                  href="./img/sprite.svg#icon-right"
                ></use>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <!-- Booking-Price buttons -->
      <div class="h-hp-buttons">
        <button class="h-hp-btnbooking js-open-modal" data-modal="1" type="button">Забронювати номер</button>
        <button
          class="h-hp-btnprices js-open-modal"
          data-modal="3"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
