<section class="menu">
  <div class="container">
    <h2 class="menu-title">МЕНЮ РЕСТОРАНУ</h2>
    <table class="menu-table">
      <caption class="menu-title-categories">
        Гарячі страви
      </caption>
      <tbody>
        <tr class="price-wrap">
          <td>
            <h3 class="menu-title-dish">Борщ з телятини з квасолею</h3>
            <p class="dish-products">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </p>
          </td>
          <td class="dish-weight">400 г</td>
          <td class="dish-price">240 грн</td>
        </tr>
        <tr class="price-wrap">
          <td>
            <h3 class="menu-title-dish">Суп сирний з куркою</h3>
            <p class="dish-products">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </p>
          </td>
          <td class="dish-weight">400 г</td>
          <td class="dish-price">200 грн</td>
        </tr>
        <tr class="price-wrap">
          <td>
            <h3 class="menu-title-dish">Паста карбонара</h3>
            <p class="dish-products">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </p>
          </td>
          <td class="dish-weight">350 г</td>
          <td class="dish-price">430 грн</td>
        </tr>
        <tr class="price-wrap">
          <td>
            <h3 class="menu-title-dish">Стейк зі свинини</h3>
            <p class="dish-products">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </p>
          </td>
          <td class="dish-weight">400 г</td>
          <td class="dish-price">500 грн</td>
        </tr>
        <tr class="price-wrap">
          <td>
            <h3 class="menu-title-dish">Горбуша в соусі з білого вина</h3>
            <p class="dish-products">
              Ніжна горбуша, вершковий соус на основі білого вина
            </p>
          </td>
          <td class="dish-weight">400 г</td>
          <td class="dish-price">400 грн</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
