<!--Bogdana-->
<section class="footer">
  <div class="container footer-wrap">
    <nav class="footer-navigation">
      <div class="footer-mimiho">
        <a class="footer-logo link" href="./index.html">
            <span class="logo-mimiho">MIMIHO</a>
            </div>
            <div class="footer-menu-container">
            <ul class="footer-menu list">
                <li class="footer-menu-item">
                    <a class="footer-menu-link" href="./index.html">Головна</a>
                </li>
                <li class="footer-menu-item">
                    <a class="footer-menu-link" href="./restaurant.html">Ресторан</a>
                </li>
                <li class="footer-menu-item">
                    <a class="footer-menu-link" href="./hotel.html">Готель</a>
                </li>
            </ul>
        </div>
    </nav>
        <div class="footer-soc-container">
<ul class="footer-soc-list">
    <li class="footer-soc-item">
        <a href="#" class="footer-soc-link footer-telegram">
        <span class="social-text">Telegram</span>
            <svg class="footer-icon" wight="20" height="20">
                    <use href="./img/sprite.svg#icon-telegram"></use>
                </svg>
        </a>
    </li>
    <li class="footer-soc-item">
        <a href="#" class="footer-soc-link footer-facebook">
        <span class="social-text">Facebook</span>
             <svg class="footer-icon" wight="20" height="20">
                    <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
        </a>
    </li>
    <li class="footer-soc-item">
        <a href="#" class="footer-soc-link footer-instagram">
        <span class="social-text">Instagram</span>
            <svg class="footer-icon" wight="20" height="20">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
        </a>
    </li>
</ul>
        </div>
      </div>
    </span>
  </div>
</section>
