<!---Yuliia-->
    <div class="container header-wrap">
    <nav class="navigation">
        <a class="header-logo link" href="./index.html">
          <span class="logo-web">MIMIHO</a
        >
        <ul class="header-menu list">
            <li class="header-menu-item">
            <a class="header-menu-link link" href="./restaurant.html">Ресторан</a>
          </li>
          <li class="contact-item">
            <a class="contact-number link" href="tel:+38(095)555-95-33"
              ><svg class="phone-icon" width="12" height="20">
                <use href="./img/sprite.svg#icon-phone"></use>
              </svg><span class="header-phone">095 555 95 33</span></a
            >
          </li>
  
          <li class="menu-item">
            <a class="header-menu-link link" href="./hotel.html">Готель</a>
          </li>
          <li class="contact-item">
            <a class="contact-number link" href="tel:+38(066)849-10-89"
              >
              <svg class="phone-icon" width="12" height="20">
                <use href="./img/sprite.svg#icon-phone"></use>
              </svg><span class="header-phone">066 849 10 89</span></a
            >
          </li> 
  
        </ul>
      </nav>

      <ul class="soc-list list">
        <li class="soc-item">
          <a href="#" class="soc-link link">
            <svg class="soc-icon" weight="22" height="22">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="#" class="soc-link link">
            <svg class="soc-icon" weight="22" height="22">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="soc-item">
          <a href="#" class="soc-link link">
            <svg class="soc-icon" weight="22" height="22">
              <use href="./img/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>