/* Bogdana */
.footer>.container {
    padding-top: 40px;
    padding-bottom: 41px;
    padding-right: 41px;
    padding-left: 59px;
    background-color: #0E0C07;
}

.footer {
    background-color: #0E0C07;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
}

.logo-mimiho {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: #F3C653;
}

.logo-mimiho {
    display: flex;
    margin-top: 48px;
}


.footer-menu {
    margin-bottom: 18px;
}

.footer-menu-item {
    display: flex;
}

.footer-menu-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

    color: #F3C653;
}

.footer-soc-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.footer-soc-list {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 23px;

}

.social-text {
    display: none;
    color: #F3C653;
}

.footer-icon {
    width: 20px;
    height: 20px;
    fill: #F3C653;
}

@media screen and (max-width: 414px) {
    .logo-mimiho {
        font-size: 9.7vw;
    }

    .footer-menu-link {
        font-size: 3.86vw;
    }

    .footer-icon {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .footer>.container {
        padding-top: 80px;
        padding-left: 154px;
        padding-bottom: 80px;
        padding-right: 122px;
    }

    .footer-wrap {
        display: flex;
        justify-content: space-between;
    }

    .footer-navigation {
        gap: 163px;
    }

    .logo-mimiho {
        font-size: 64px;
        line-height: 1.095;
    }

    .footer-menu-link {
        font-size: 20px;
        line-height: 1.2;
    }

    .footer-soc-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .footer-soc-list {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .footer-soc-item {
        width: 144px;
        height: 40px;

        border: 0.5px solid #F3C653;
        border-radius: 2px;
    }

    .social-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: block;
        padding-left: 12px;
        display: flex;
        align-items: center;
    }

    .footer-soc-link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 22px;
    }


    .footer-soc-item {
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.02em;


    }

    .footer-telegram {
        display: flex;
        gap: 19px;

    }

    .footer-facebook {
        display: flex;
        gap: 17px;
    }

    .footer-instagram {
        display: flex;
        gap: 12px;
    }
}


@media screen and (min-width: 1280px) {
    .footer>.container {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 216px;
        padding-right: 186px;
    }

    .footer-navigation {
        gap: 231px;
    }

    .logo-mimiho {
        font-size: 64px;
        line-height: 1.078;
    }

    .footer-menu-link {
        font-size: 20px;
        line-height: 1.2;
    }
}