<section class="container amenities">
  <h2>ЗРУЧНОСТІ У НОМЕРІ</h2>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul class="list">
    <li class="description">
      <h3>ЗАГАЛЬНІ</h3>
      <div class="description-div">
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </li>
    <li class="description">
      <h3>ВАННА КІМНАТА</h3>
      <div class="description-div">
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </li>
    <li class="description">
      <h3>СПАЛЬНЯ</h3>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint.
      </p>
    </li>
    <li class="description">
      <h3>КУХНЯ</h3>
      <div class="description-div">
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </div>
    </li>
    <li class="description">
      <h3>МЕДІА</h3>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </li>
  </ul>
  <div class="qwe">
    <button class="amenities-btn" type="button">оформити бронювання</button>
    <div class="amenities-btn-transition">
      <p>Повернутися до перегляду номерів</p>
      <button
        class="amenities-btn-hotpeg"
        type="button"
        onclick="window.location.href='./hotel.html'"
      >
        <svg class="icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
