<section class="section-lux">
  <div class="container lux-container">
    <p class="lux-pre-title">Amet minim mollit non</p>
    <h2 class="lux-title">MIMIHO</h2>
    <h3 class="lux-after-title">ДВОМІСНИЙ НОМЕР люкс</h3>
    <p class="lux-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="lux-picture-wrap">
      <picture class="lux-picture">
        <source
          srcset="
            ./img/hotel-image/1-room-for-2-adults/o-lux-desk.jpg    1x,
            ./img/hotel-image/1-room-for-2-adults/o-lux-desk-2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/hotel-image/1-room-for-2-adults/o-lux-tab.jpg    1x,
            ./img/hotel-image/1-room-for-2-adults/o-lux-tab-2x.jpg 2x
          "
          media="(min-width:1024px)"
        />
        <source
          srcset="
            ./img/hotel-image/1-room-for-2-adults/o-lux-mob.jpg    1x,
            ./img/hotel-image/1-room-for-2-adults/o-lux-mob-2x.jpg 2x
          "
          media="(min-width:320px)"
        />
        <img
          src="./img/hotel-image/1-room-for-2-adults/o-lux-mob.jpg"
          alt="hotel-room"
          width="460"
          height="574"
        />
      </picture>
    </div>
    <div class="lux-slider-wrap">
      <div class="lux-slider-picture lux-slider-picture01">
        <picture>
          <source
            srcset="
              ./img/hotel-image/1-room-for-2-adults/o-01slider-lux-desk.jpg    1x,
              ./img/hotel-image/1-room-for-2-adults/o-01slider-lux-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/hotel-image/1-room-for-2-adults/o-01slider-lux-tab.jpg    1x,
              ./img/hotel-image/1-room-for-2-adults/o-01slider-lux-tab-2x.jpg 2x
            "
            media="(min-width:1024px)"
          />
          <source
            srcset="
              ./img/hotel-image/1-room-for-2-adults/o-01slider-lux-mob.jpg    1x,
              ./img/hotel-image/1-room-for-2-adults/o-01slider-lux-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./img/hotel-image/1-room-for-2-adults/o-01slider-lux-mob.jpg    1x,
              "
            alt="bathroom"
            width="254"
            height="254"
          />
        </picture>
      </div>
      <div class="lux-slider-picture lux-slider-picture02">
        <picture>
          <source
            srcset="
              ./img/hotel-image/1-room-for-2-adults/o-02slider-lux-desk.jpg    1x,
              ./img/hotel-image/1-room-for-2-adults/o-02slider-lux-desk-2x.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/hotel-image/1-room-for-2-adults/o-02slider-lux-tab.jpg    1x,
              ./img/hotel-image/1-room-for-2-adults/o-02slider-lux-tab-2x.jpg 2x
            "
            media="(min-width:1024px)"
          />
          <source
            srcset="
              ./img/hotel-image/1-room-for-2-adults/o-02slider-lux-mob.jpg    1x,
              ./img/hotel-image/1-room-for-2-adults/o-02slider-lux-mob-2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <img
            src="./img/hotel-image/1-room-for-2-adults/o-02slider-lux-mob.jpg"
            alt="coffee-cup"
            width="254"
            height="254"
          />
        </picture>
      </div>
    </div>
    <ul class="lux-slider-arrows-wrap">
      <li>
        <button class="lux-slider-button">
          <svg class="lux-slider-arrow" width="32" height="32">
            <use href="./img/sprite.svg#icon-left"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="lux-slider-button">
          <svg class="lux-slider-arrow" width="32" height="32">
            <use href="./img/sprite.svg#icon-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="lux-buttons">
      <button type="button" class="lux-button">
        <a class="detail-room-number" href="./number.html">Детальніше</a>
      </button>
      <button type="button" class="lux-button js-open-modal" data-modal="3">
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
