<!--Yuliia Tarasenko-->
<section class="room">
  <div class="container room-container">
    <div class="container-room">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/room-image/hotel-roomjulia/hotelroomdt.jpg    1x,
            ./img/room-image/hotel-roomjulia/hotelroomdt@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/room-image/hotel-roomjulia/hotelroomtb.jpg    1x,
            ./img/room-image/hotel-roomjulia/hotelroomtb@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 414px)"
          srcset="
            ./img/room-image/hotel-roomjulia/hotelroomph.jpg    1x,
            ./img/room-image/hotel-roomjulia/hotelroomph@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 413px)"
          srcset="
            ./img/room-image/hotel-roomjulia/hotelroomph.jpg    1x,
            ./img/room-image/hotel-roomjulia/hotelroomph@2x.jpg 2x
          "
        />
        <img
          class="room-hotel-img room-img"
          src="./img/room-image/hotel-roomjulia/hotelroomdt.jpg"
          alt="hotel room"
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width:320px) 244px"
          height="574"
        />
      </picture>
      <div class="room-hotel">
        <p class="room-ere-title">Amet minim mollit non</p>
        <h3 class="room-title">Minimo</h3>
        <div class="room-title-wrap">
          <h2 lang="ua" class="room-pre-text">Трьохмісний номер</h2>
          <p class="room-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>
    </div>
    <div class="three-room">
      <ul class="room-wrap-list list">
        <li class="room-btn-item">
          <button lang="ua" class="room-btn" type="button">Детальніше</button>
        </li>
        <li class="room-btn-item">
          <button lang="ua" class="room-btn" type="button">
            Переглянути ціни
          </button>
        </li>
      </ul>
      <div class="three-room-wrap">
        <div class="room-list-wrap">
          <div class="room-list list">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/room-image/hotel-roomjulia/scrolldt.jpg    1x,
                  ./img/room-image/hotel-roomjulia/scrolldt@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/room-image/hotel-roomjulia/scrolltb.jpg    1x,
                  ./img/room-image/hotel-roomjulia/scrolltb@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/room-image/hotel-roomjulia/scroll6.jpg    1x,
                  ./img/room-image/hotel-roomjulia/scroll6@2x.jpg 2x
                "
              />
              <img
                class="room-scroll-img room-img"
                src="./img/room-image/hotel-roomjulia/scrolldt.jpg"
                alt="hotel reception"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width:320px) 194px"
                height="254"
              />
            </picture>

            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/room-image/hotel-roomjulia/scrolldt2.jpg    1x,
                  ./img/room-image/hotel-roomjulia/scrolldt2@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/room-image/hotel-roomjulia/scrollph2.jpg    1x,
                  ./img/room-image/hotel-roomjulia/scrollph2@2x.jpg 2x
                "
              />
              <img
                class="room-scroll-img room-img"
                src="./img/room-image/hotel-roomjulia/scrolldt2.jpg"
                alt="living room"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width:320px) 194px"
                height="254"
              />
            </picture>
            <!-- 
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/room-image/hotel-roomjulia/scrolldt3.jpg    1x,
                  ./img/room-image/hotel-roomjulia/scrolldt3@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/room-image/hotel-roomjulia/scrollph3.jpg    1x,
                  ./img/room-image/hotel-roomjulia/scrollph3@2x.jpg 2x
                "
              />
              <img
                class="room-scroll-img"
                src="./img/room-image/hotel-roomjulia/scrolldt3.jpg"
                alt="breakfast of oatmeal and yogurt"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width:320px) 194px"
                height="254"
              />
            </picture>

            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/room-image/hotel-roomjulia/scrolldt4.jpg    1x,
                  ./img/room-image/hotel-roomjulia/scrolldt4@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/room-image/hotel-roomjulia/scrollph4.jpg    1x,
                  ./img/room-image/hotel-roomjulia/scrollph4@2x.jpg 2x
                "
              />
              <img
                class="room-scroll-img"
                src="./img/room-image/hotel-roomjulia/scrolldt4.jpg"
                alt="romantic dinner"
                sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width:320px) 194px"
                height="254"
              />
            </picture> -->
          </div>
        </div>
        <ul class="room-hotel-icon list">
          <li class="room-hotel-icon-item">
            <button class="room-hotel-icon-button">
              <svg class="room-hotel-slider-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-left"></use>
              </svg>
            </button>
          </li>
          <li class="room-hotel-icon-item">
            <button class="room-hotel-icon-button">
              <svg class="room-hotel-slider-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
