<!--Yuliia Tarasenko-->
<section class="room-two">
  <div class="container room-two-container">
    <div class="container-room-two">
      <div class="room-two-hotel">
        <div class="room-two-hotel-wrap">
          <p class="room-two-ere-title">Amet minim mollit non</p>
          <h3 class="room-two-title">Mimiho</h3>
          <div class="room-two-title-wrap">
            <h2 lang="ua" class="room-two-pre-text">Двомісний номер</h2>
            <p class="room-two-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/room-image/hotel-roomtwo/hotel.jpg    1x,
            ./img/room-image/hotel-roomtwo/hotel@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/room-image/hotel-roomtwo/hoteltb.jpg    1x,
            ./img/room-image/hotel-roomtwo/hoteltb@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 414px)"
          srcset="
            ./img/room-image/hotel-roomtwo/hotelph.jpg    1x,
            ./img/room-image/hotel-roomtwo/hotelph@2x.jpg 2x
          "
        />
        <img
          class="room-two-hotel-img room-img"
          src="./img/room-image/hotel-roomtwo/hotel.jpg"
          alt="hotel room"
          height="574"
        />
      </picture>
    </div>
    <div class="three-room-two">
      <div class="three-room-two-wrap">
        <div class="room-two-list-wrap">
          <div class="room-two-list list">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/room-image/hotel-roomtwo/scrolldt.jpg    1x,
                  ./img/room-image/hotel-roomtwo/scrolldt@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./img/room-image/hotel-roomtwo/scrollph.jpg    1x,
                  ./img/room-image/hotel-roomtwo/scrollph@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/room-image/hotel-roomtwo/scroll6.jpg    1x,
                  ./img/room-image/hotel-roomtwo/scroll6@2x.jpg 2x
                "
              />
              <img
                class="room-two-scroll-img room-img"
                src="./img/room-image/hotel-roomtwo/scrolldt.jpg"
                alt="hotel reception"
                height="254"
              />
            </picture>

            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./img/room-image/hotel-roomtwo/scrolldt2.jpg    1x,
                  ./img/room-image/hotel-roomtwo/scrolldt2@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ./img/room-image/hotel-roomtwo/scrollph3.jpg    1x,
                  ./img/room-image/hotel-roomtwo/scrollph3@2x.jpg 2x
                "
              />
              <img
                class="room-two-scroll-img room-img"
                src="./img/room-image/hotel-roomtwo/scrolldt2.jpg"
                alt="living room"
                height="254"
              />
            </picture>

            <!-- <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./img/room-image/hotel-roomtwo/scrolldt3.jpg    1x,
                    ./img/room-image/hotel-roomtwo/scrolldt3@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./img/room-image/hotel-roomtwo/scrollph3.jpg    1x,
                    ./img/room-image/hotel-roomtwo/scrollph3@2x.jpg 2x
                  "
                />
                <img
                  class="room-two-scroll-img"
                  src="./img/room-image/hotel-roomtwo/scrolldt3.jpg"
                  alt="breakfast of oatmeal and yogurt"
                  
                  height="254"
                />
              </picture>

              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./img/room-image/hotel-roomtwo/scrolldt4.jpg    1x,
                    ./img/room-image/hotel-roomtwo/scrolldt4@2x.jpg 2x
                  "
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./img/room-image/hotel-roomtwo/scrollph4.jpg    1x,
                    ./img/room-image/hotel-roomtwo/scrollph4@2x.jpg 2x
                  "
                />
                <img
                  class="room-two-scroll-img"
                  src="./img/room-image/hotel-roomtwo/scrolldt4.jpg"
                  alt="romantic dinner"
                  
                  height="254"
                />
              </picture> -->
          </div>
        </div>
        <ul class="room-two-hotel-icon list">
          <li class="room-two-hotel-icon-item">
            <button class="room-two-hotel-icon-button">
              <svg class="room-two-hotel-slider-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-left"></use>
              </svg>
            </button>
          </li>
          <li class="room-two-hotel-icon-item">
            <button class="room-two-hotel-icon-button">
              <svg class="room-two-hotel-slider-icon" width="32" height="32">
                <use href="./img/sprite.svg#icon-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
      <ul class="room-two-wrap-list list">
        <li class="room-two-btn-item">
          <button lang="ua" class="room-two-btn" type="button">
            <a href="./number.html"> Детальніше</a>
          </button>
        </li>
        <li class="room-two-btn-item">
          <button
            lang="ua"
            class="room-two-btn js-open-modal"
            data-modal="3"
            type="button"
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
